<p id="notice"><%= notice %></p>

<h1>Listing Add Prefid To Users</h1>

<table>
  <thead>
    <tr>
      <th>Pref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_prefid_to_users.each do |add_prefid_to_user| %>
      <tr>
        <td><%= add_prefid_to_user.pref_id %></td>
        <td><%= link_to 'Show', add_prefid_to_user %></td>
        <td><%= link_to 'Edit', edit_add_prefid_to_user_path(add_prefid_to_user) %></td>
        <td><%= link_to 'Destroy', add_prefid_to_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add prefid to user', new_add_prefid_to_user_path %>
